* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    width: 100%;       
    background-image: url("./../img/fundoLogin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.logo {
    width: 15vw;
    height: auto;
    min-width: 120px;
    max-width: 220px;
}

main {
    background-color: #FFFFFF;
    width: 50%;
    max-width: 500px;
    min-width: 280px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

main form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

main form input {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    color: black;
    width: 100%;
    font-size: 1rem;
}

main form p {
    margin: 0;
    font-size: 1rem;
    text-align: left;
}

main form p a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

main form p a:hover {
    color: #FF9E48;
}

main button {
    background-color: #FF9E48;
    border: solid black 2px;
    padding: 10px;
    width: 60%;
    max-width: 250px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 10px auto 0;
    transition: 0.3s;
}

main button:hover {
    background-color: #ff7f00;
}

main button a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

main button a:hover {
    color: red;
}


@media (max-width: 768px) {
    main {
        width: 80%;
    }


    main button {
        width: 80%;
    }
}

@media (max-width: 480px) {
    body {
        height: auto;
    }

    main {
        width: 80%;
        border-radius: 15px;
    }


    main form input {
        font-size: 1rem;
    }

    main button {
        width: 100%;
        font-size: 1rem;
    }
}
